<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
		<string>ja</string>
		<string>ko</string>
		<string>id</string>
		<string>vi</string>
		<string>de</string>
		<string>fr</string>
		<string>es</string>
		<string>pt</string>
		<string>pt-BR</string>
		<string>ru</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>s.how.see</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>see</string>
			</array>
		</dict>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Upload via S.EE (Public)</string>
			</dict>
			<key>NSMessage</key>
			<string>uploadPublic</string>
			<key>NSPortName</key>
			<string>SEE</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Upload via S.EE (Private)</string>
			</dict>
			<key>NSMessage</key>
			<string>uploadPrivate</string>
			<key>NSPortName</key>
			<string>SEE</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
